<!DOCTYPE html>
<html lang="en" ng-app="PlaneographApp">
<head>
	<meta charset="UTF-8">
	<title>Planeograph</title>
	<script src="js/lib/angular.min.js"></script>
	<script src="js/lib/jquery.min.js"></script>

	<link rel="stylesheet" href="css/style.css">
 	<link rel="stylesheet" href="css/materialize.css">	
</head>
<body class="grey lighten-2" stylea="padding: 0 7%;">
	<div class="" ng-controller="PlaneographCtrl">
	
		<!-- Search  -->
		<nav class="grey darken-2 white-text hiden">
			<select class="btn white black-text" ng-model="restrict" ng-init="restrict = '$';">
				<option ng-value="$">all</option>
				<option ng-value="title">title</option>
				<option ng-value="content">content</option>
				<option ng-value="tags">tags</option>
			</select>
			<input class="btn white black-text" ng-model="search.restrict">
		</nav>
	
		<!-- Plane -->
		<section ng-repeat="plane in planes track by $index" ng-init="planeID = $index" class="row m2">
		
		<!-- Header -->
			
			<header class="row">
				<nav class="red lighten-2">
					<span class="left">#{{planeID+1}}</span>
					<!-- Buttons -->
				
					<button class="btn-large blue" ng-click="deletePlane($index)">delete plane</button>
					<button class="btn-large blue" ng-click="addNtt($index,'note')">add note</button>
				</nav>
			</header>

			<!-- Card -->
			<div ng-repeat="entity in plane.children | filter:search track by $index" 
				ng-init="noteID = $index" 
				ng-attr-class="{{entity.bgColor}} accent-2 {{entity.fgColor}} card col l4 m4 s12" 
				ng-attr-id="ntt_{{planeID}}_{{$index}}">
				<!-- Top -->
				
				<div class="left">#{{$index+1}}</div>

				<div class="right btn-floating white" ng-click="setColor(planeID,$index)">
					<i class="material-icons indigo-text">palette</i>
				</div>

				<!-- Images -->
				
				<div class="card-image" style="display: inline-flex;">
					<img class="img" ng-style="{'height': '0%',width: 100/entity.images.length+'%'}" ng-repeat="image in entity.images track by $index" ng-attr-src="{{image.src}}" ng-click="deleteImage(planeID,noteID,$index)">
				</div>

				<!-- Content -->
				
				<div class="card-content">
					<h3 class="card-title" contenteditable="true">{{entity.title}}</h3>
					<p class="card-content flow-text" contenteditable="true">{{entity.content}}</p>
				</div>
				<div class="divider"></div>
				<h5 class="tags flow-text" contenteditable="true">{{entity.tags.join(',')}}</h5>
				<div class="divider"></div>
				<!-- Buttons -->
				
				<div class="card-action">
					<div class="btn-floating red" ng-click="saveNtt(planeID,$index)"><i class="material-icons">save</i></div>
					<div class="btn-floating red" ng-click="addImage(planeID,$index)"><i class="material-icons">image</i></div>
					<div class="btn-floating red" ng-click="addTags(planeID,$index)"><i class="material-icons">format_quote</i></div>
					<div class="btn-floating red" ng-click="deleteNtt(planeID,$index)"><i class="material-icons">delete</i></div>
				</div>

			</div>

		</section>
			<button class="btn" ng-click="addPlane()">Add new plane</button>

		<footer class="hide footer">
			<a ng-click="downloadData(this)">Save notes in a file</a>
			<p>Extract notes from a file <br><input type="file" ng-file-select></p>
		</footer>
	</div>
<script src="js/index.js"></script>

</body>
</html>
